<main class="container pt-3">
    <h1 class="text-center">Початок роботи</h1>
    <h3>Крок 0: Підготування {% include ref_link.liquid %}</h3>
    <p>Перед початком роботи з {% include bot_link.liquid %} потрібно зареєструватися у сервісі {% include ref_link.liquid %}.</p>
    <p>Там додати торгову точку, створити касу та зареєструвати касира.</p>
    <p>Далі слід завантажити ЕЦП касира у хмарне сховище. Підійде будь який діючий електронний підпис або електронна печатка вашого ФОП.</p>
    <div class="p-3 mb-2 bg-light text-dark">
        <h4>Зверніть увагу!</h4>
        Якщо ви маєте найманих працівників, то кожен з них повинен мати свій особистий цифровий підпис чи печатку.
    </div>
    <p>Обов’язково слід заповнити позиції товарів чи послуг (розділ «Товари»), щоб вони відображались у боті для зручності створення чеку.</p>
    <div class="p-3 mb-2 bg-light text-dark">
        <h4>Увага!</h4>
        Наразі {% include bot_link.liquid %} має обмеження у 100 позицій, тобто бот відобразить лише перші 100 з них.
    </div>

    <p>Інформація, що необхідна для подальшої роботи через {% include bot_link.liquid %}:</p>
    <ul>
        <li>Ключ ліцензії каси (розділ «Каси»)</li>
        <li>Пін-код касира (розділ «Касири»)</li>
    </ul>
</main>