<footer class="bg-gray-dark text-white p-2">
    <div class="container-md d-flex flex-items-center flex-justify-between lh-0">
        <strong>&copy; {{ site.copy_year }}&ndash;{{ "now" | date: "%Y" }} {{ site.copy_name }}</strong>
        <a href="{{ site.facebook }}" target="_blank"><img class="social" alt="Facebook" src="/assets/images/fb.png" /></a>
    </div>
</footer>
