<header class="text-center">
    <a href="{{ site.bot_url }}" target="_blank">
        <img class="logo one-fourth p-1 p-sm-2 p-md-3" alt="UACheckBot" src="/assets/images/logo.png">
    </a>
</header>
