header {
    background-image: url("/assets/images/background.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 25vh;
}

.logo {
    max-width: 25vh;
    transition: filter 100ms ease-in-out;
}

.logo:hover {
    filter: brightness(150%);
}

.video {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.social {
    width: 2em;
    height: 2em;
}

h1.huge {
    font-size: 52px !important;
}
