<!DOCTYPE html>
<html lang="uk">
    {% include head.liquid %}
    <body>
    {% comment %}{% include nav.html %}{% endcomment %}
    {% include header.liquid %}
    {% include content.liquid %}
    {% comment %}{% include footer.html %}{% endcomment %}
    </body>
</html>
