<!DOCTYPE html>
<html lang="uk" prefix="og: https://ogp.me/ns#">
{% include head.liquid %}
<body>

{% include header.liquid %}
{% include content.liquid %}
{% include footer.liquid %}
{% include scripts.liquid %}

</body>
</html>
