<!DOCTYPE html>
<html lang="uk">
    {% include head.liquid %}
    <body>
    {% include header.liquid %}
    {% include content.liquid %}
    {% include footer.liquid %}
    {% include scripts.liquid %}
    </body>
</html>
